#header{
    height: 30px;
}

.calc{
    width: 400px;
    height: 560px;
    background: grey;
    margin-left: 36px;
}
#screen{
    width: 84%;
    margin-left: 29px;
    height: 41px;
    margin-top: 58px;
    pointer-events: none
}
.btn{
    background: antiquewhite;
    width: 56px;
    height: 50px;
    margin-left: 32px;
    margin-top: 26px;
    
}
.main-body{

}